
html, body 
{
  text-align:center;
  height:100%;
  margin: 0 ;
  padding: 0;
  border: 0;
  background:url(kobobl.jpg)no-repeat center center fixed;
}

#wrapper 
{
  width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height:100%;
  text-align:left;
  background:#000000;
  padding:2px;
}

#header
{
  width: 100%;
  height:150px;
  background:#DFDFD7;
  margin: 0 ;
  color:#FFFFFF;
}

#content
{
  width: 100%;
  height:100%;
  background: #000000;
  margin: 2 0 2 0;
}

#data
{
  width: 100%;
  height:95%;
  background:#DFDFD7;
  margin: 0 0 0 0;
}

#clear
{
  clear:both;
}

#left_menu
{
  width: 250px;
  height:100%;
  background:#DFDFD7;
  float: left;
}
#left_menu ul
{
  list-style: none;
  margin: 0 auto;
  padding: 1 0 0 5;
}
#left_menu ul li a 
{
  margin: 2 0 0 0 ;
  padding: 0;
  display: block;
  width: 98%;
  height: 30px;
  line-height: 30px;
  color: gold;
  text-decoration: none;
  text-indent: 10px;
  background: #200;
  transition: 1s;
}
#left_menu ul li a:hover
{
  margin: 2 0 0 0;
  padding: 0;
  display: block;
  width: 98%;
  height: 30px;
  line-height: 30px;
  color: #FF9900;
  font-size: 15px;
  text-indent: 10px;
  background: #808080;
}
#info
{
  width: 748px;
  height:100%;
  background:#000000;
  float: right;
}

#top_menu
{
  width: 100%;
  height:30px;
  background: #336633;
  margin: 0 0 2 0;
}

#footer
{
  width: 1002px;
  height:5px;
  background:#000000;
  margin: auto 0;
}
#dropdown-child
{
  display: none;
  min-width: 100px;
}
ul li:hover > ul#dropdown-child 
{
 display: block;
}
#left_menu ul li > ul#dropdown-child a
{
  margin: 2 0 0 30;
  padding: 0;
  display: block;
  width: 100px;
  height: 25px;
  line-height: 25px;
  color: gold;
  text-decoration: none;
  background: #200;
  text-indent: 10px;
}

#left_menu ul li > ul#dropdown-child a:hover 
{
  margin: 2 0 0 30;
  padding: 0;
  display: block;
  width: 100px;
  height: 25px;
  line-height: 25px;
  color: gold;
  text-decoration: none;
  background: #555;
  text-indent: 10px;
  transition: 1s;
}
ul.hr
{
 margin:0 0 32 0;
 padding: 0;
 background: #200;
 display: block;
 width: 748px;
 height: 30px;
 text-align: center;
 color: gold;
}
ul.hr a
{
  text-decoration: none;
  color: gold;
}
ul.hr li{
 display: inline-block;
 margin-right: : 30px;
 padding: 10px;
 width: 90px;
}
ul.hr li:hover
{
 margin: 2 0 0 2;
 display: inline-block;
 padding: 10px;
 line-height:5px ;
 color: white;
 text-decoration: none;
 background: #808080;
 text-indent: 5px;
 font-size: 15px;
 transition: 0.5s;
}
.tabs
{
  position: relative;
}
 .tab, .tab-title
 {
   display:inline-block;
 }
  .tab input[type="radio"]
  
  {
    display:none;
  }
   .tab-title
   {
     background:#200;
     padding:5px 10px;
     border: : 2px solid #666;
     border-bottom: none;
     color: gold;
   }
    .tab-content
    {
      position: relative;
      border: 1px solid #666;
      padding:5px;
      left:0;
      width: 400px;
      display:none;
    }
     .tab :checked+ .tab-title
     {
       position:relative;
       background: #808080;
       top:1px;
       z-index:1;
     }
    .tab :checked~ .tab-content
    {
      display:block;
    }
    .tab-content table
    {
      border: :1px;
      width:98%;
      margin:0 auto;
      color:#FFFFFF;
      text-align: center;
    }
    .tab-content table th
    {
      color: gold;
      background-color: #000000;
    }
    .tab-content tr [data-content="№"] 
    {
      width: 40px;
    }
    .tab-content tr [data-content="PIB"] 
    {
      width: 200px;
    }
    .tab-content tr [data-content="mark"] 
    {
      width: 50px;
    }
    .tab-content table tr:nth-child(odd)
    {
      color: gold;
      background-color: #200;
      height: 30px;
    }
    .tab-content table tr:nth-child(even)
    {
      color: gold;
      background-color: #200;
      height: 30px;
    }
    .tab-content table a
    {
      color:#FFFFFF;
      text-decoration: none;
    }
    .tab-content table a:hover
    {
      color:#ddd;
      text-decoration:none;
    }
    .tab-content table caption
    {
      color: #000000;
      font-weight:bold;
      font-size: larger; 
    }

.profile {
  width: 500px;
  height: 200px;
  margin: 100px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-title {
    

  }

}

.profile-data {
    width: 100%;
}

.data-list {
  
}

